<div id="allocation-view">
    <h1>{{ allocation.serial }}</h1>
    <span class="frequency">Frequency: {{ allocation.display_freq() }}</span>
    <span class="bureau">Bureau: {{ allocation.bureau }}</span>

    <h2>Emissions</h2>
    <table>
    {% for emission in allocation.emissions %}
        <tr>
            <td>{{ emission.station_class }}</td>
            <td>{{ emission.designator }}</td>
            <td>{{ emission.display_power() }}</td>
        </tr>
    {% endfor %}
    </table>

    <h2>Sites</h2>
    <table>
        {% for site in allocation.sites %}
        <tr>
            <td>{{ site.role }}</td>
            <td>{{ site.state }}</td>
            <td>{{ site.location }}</td>
            <td>{{ site.name }}</td>
            <td>{{ site.cl }}</td>
            <td>{{ site.antenna }}</td>
            <td>{{ site.polarization }}</td>
            <td>{{ site.azimuth }}</td>
            <td>{{ site.spd }}</td>
            <td>{{ site.tme }}</td>
            <td>{{ site.ici }}</td>
            <td>{{ site.msd }}</td>
            <td>{% if site.lat %}{{ site.lat | round(5) }}{% endif %}</td>
            <td>{% if site.lon %}{{ site.lon | round(5) }}{% endif %}</td>
        </tr>
        {% endfor %}
    </table>

    <h2>Mystery Fields</h2>
    <table>
        <tr>
            <td>CDD</td>
            <td>{{ allocation.cdd }}</td>
            <td>Unknown field</td>
        </tr>
        <tr>
            <td>BIN</td>
            <td>{{ allocation.bin }}</td>
            <td>Unknown field</td>
        </tr>
        <tr>
            <td>MBR</td>
            <td>{{ allocation.mbr }}</td>
            <td>Unknown</td>
        </tr>
        <tr>
            <td>FOI</td>
            <td>{{ allocation.foi }}</td>
            <td>Unknown</td>
        </tr>
        <tr>
            <td>Network</td>
            <td>{{ allocation.net }}</td>
            <td>Network ID, for network members</td>
        </tr>
        <tr>
            <td>AUD</td>
            <td>{{ allocation.aud }}</td>
            <td>Unknown field</td>
        </tr>
        <tr>
            <td>RVD</td>
            <td>{{ allocation.rvd }}</td>
            <td>Unknown field</td>
        </tr>
        <tr>
            <td>EXD</td>
            <td>{{ allocation.exd }}</td>
            <td>Unknown field</td>
        </tr>
        <tr>
            <td>NTS</td>
            <td>{% for nts in allocation.nts %}{{nts.nts}}{{ ", " if not loop.last else "" }}{% endfor %}</td>
            <td>Unknown field</td>
        </tr>
        <tr>
            <td>AUS</td>
            <td>{% for aus in allocation.aus %}{{aus.aus}}{{ ", " if not loop.last else "" }}{% endfor %}</td>
            <td>Unknown field</td>
        </tr>
    </table>

    <h2>Comment</h2>
    <p class="comment">{{ allocation.comment }}</p>

    <h2>Remarks</h2>
    <table>
        {% for remark in allocation.remarks %}
        <tr>
            <td>{{ remark.field }}</td>
            <td>{{ remark.value }}</td>
        </tr>
        {% endfor %}
    </table>
</div>