<table>
    {% for allocation in allocations %}
    <tr>
        <td>
            <a href="{{ url_for('allocation', id=allocation.id) }}">{{ allocation.serial }}</a>
        </td>
        <td>
            {{ allocation.bureau }}
        </td>
        <td>
            {{ allocation.display_freq() }}
        </td>
        {% if allocation.tx_site %}
        <td>
            {{ allocation.tx_site.state }}
        </td>
        <td>
            {{ allocation.tx_site.location }}
        </td>
        <td>
            {{ allocation.tx_site.name }}
        </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>

<ul>
    {% for page in pages %}
    <li>
        {{ page }}
    </li>
    {% endfor %}
</ul>