<!DOCTYPE html>
<html lang="en">
<head>
    <title>NTIA browser</title>
    {% assets "styles" %}
    <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
    {% endassets %}

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <script src="{{ url_for('static', filename='js/htmx.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/_hyperscript.min.js') }}"></script>
</head>

<body>
    <div id="header">
        <h1>NTIA Browser</h1>
    </div>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    {% block body %}
        {% if prefill %}
            {{ prefill | safe }}
        {% endif %}
    {% endblock %}
    <div id="footer">

    </div>
</body>
</html>
